<nav class="navbar shrink" role="navigation">
    <ul class="a">
        <li class="user" id="user">
            <?php if(empty($uid)) { ?>
            <a href="<?php echo url('user-login');?>"><img src="<?php echo $conf['logo_mobile_url'];?>"
                    class="logo-3"></a>
            <?php } else { ?>
            <a href="<?php echo url('my');?>"><img class="avatar-3" src="<?php echo $user['avatar_url'];?>"></a>
            <?php } ?>
        </li>
        <li class="search">
            <a href="?search.htm">
                <div></div>
            </a>
        </li>
        <li class="add">
            <?php if(empty($uid)) { ?>
            <a class="navbar-brand hidden-lg" href="<?php echo url('user-login');?>" aria-label="<?php echo lang('login');?>"><i class="icon-user icon"></i></a>
            <?php } else { ?>
            <a class="navbar-brand hidden-lg" href='<?php echo url("thread-create-$fid");?>' aria-label="<?php echo lang('thread_create');?>"><i class="icon-plus icon"></i></a>
            <?php } ?>
        </li>
    </ul>
    <div class="b">
 
    <ul class="b">
        <!--{hook header_nav_forum_start.htm}-->
        <li class="nav-item home" fid="0" data-active="fid-0"><a class="nav-link" href="."><i
                    class="icon-home d-md-none"></i> <?php echo lang('index_page');?></a></li>
        <!--{hook header_nav_home_link_after.htm}-->
        <?php foreach($forumlist_show as $_forum) { ?>
        <!--{hook header_nav_forumlist_loop_start.htm}-->
        <li class="nav-item" fid="<?php echo $_forum['fid'];?>" data-active="fid-<?php echo $_forum['fid'];?>">
            <a class="nav-link" href='<?php echo url("forum-$_forum[fid]");?>'><i class="icon-circle-o d-md-none"></i>
                <?php echo $_forum['name'];?></a>
        </li>
        <!--{hook header_nav_forumlist_loop_end.htm}-->
        <?php } ?>
        <!--{hook header_nav_forum_end.htm}-->
    </ul>
    
    </div>
</nav>
